In [328]:
# Here is the list of deliverables for the analysis of the school district: 

# A high-level snapshot of the district's key metrics, presented in a table format
# An overview of the key metrics for each school, presented in a table format
# Tables presenting each of the following metrics:
    # Top 5 and bottom 5 performing schools, based on the overall passing rate
    # The average math score received by students in each grade level at each school
    # The average reading score received by students in each grade level at each school
    # School performance based on the budget per student
    # School performance based on the school size 
    # School performance based on the type of school

In [329]:
# Import pandas library as the depency. 
# Using the indirect path method

import pandas as pd
import os

In [330]:
# Files to load

school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [331]:
# Read the school data file and store it in a Pandas DataFrame

school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [332]:
# Read the student data file and store it in a Pandas DataFrame

student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [333]:
# Determine if there are any missing values in the school data. 

school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [334]:
# Determine if there are any missing values in the student data

student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [335]:
# Determine if htere are any missing values in the school data - isnull() method

school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [336]:
# Determine if there are any missing values in the student data - isnull() method
# isnull().sum() counts all the values that are 'True' - meaning there is a null value

student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [337]:
# Determine if there are NOT any missing values in the school  data - nonull() method
# This method is the opposite of the isnull() method and will put 'True' in any cell that contains data. 

school_data_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [338]:
# Determine if there are not any missing values in the student data.
# Using the notnull().sum() chain command to count the true values. 

student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [339]:
# Determine the data types for the school df

school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [340]:
# Determine the data type for a particular column in school df

school_data_df.budget.dtype

dtype('int64')

In [341]:
# Determine data types for the student df

student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [342]:
# Determine the data type for a particular column in student df - using a different syntax

student_data_df["gender"].dtype

dtype('O')

In [343]:
# Add each prefix and suffix to remove to a list.

prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".

for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [344]:
# The school district summary will be a high-level snapshot of the district's key metrics: 

# Total number of students
# Total number of schools
# Total budget
# Average math score
# Average reading score
# Percentage of students who passed math
# Percentage of students who passed reading
# Overall passing percentage

# Start of Challenge

In [345]:
# Clean Student DataFrame

student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [346]:
# Replace the reading scores for ninth graders at Thomas High School with NaN
# add dependency

import numpy as np

reading_score_df = student_data_df.loc[
        (student_data_df["school_name"] == "Thomas High School") &
        (student_data_df["grade"] =="9th") &
        (student_data_df["reading_score"] > 0), 
        "reading_score"]=np.nan

reading_score_df

nan

In [347]:
# Replace the math scores for ninth graders at Thomas High School with NaN

math_score_df = student_data_df.loc[
        (student_data_df["school_name"] == "Thomas High School") &
        (student_data_df["grade"] =="9th") &
        (student_data_df["math_score"] > 0), 
        "math_score"]=np.nan

math_score_df

nan

In [348]:
# Check to see that values were replaced in Student DataFrame

student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [349]:
# Merge the clean student data with the school dataset

school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [350]:
# Recreate the district summary DataFra

In [351]:
# Calculate total # of students, total # of schools, total budget

student_count = school_data_complete_df["Student ID"].count()
print(student_count)

school_count = school_data_df["school_name"].count()
print(school_count)

total_budget = school_data_df["budget"].sum()
print(total_budget)

39170
15
24649428

In [352]:
# Calculate Average Reading and Math scores

average_reading_score = school_data_complete_df["reading_score"].mean()
print(average_reading_score)

average_math_score = school_data_complete_df["math_score"].mean()
print(average_math_score)

81.85579580976001
78.93053295099331

In [353]:
# Find all the students who passed both math and reading

passing_math = school_data_complete_df["math_score"] >=70

passing_reading = school_data_complete_df["reading_score"] >=70

In [354]:
# Put the students who are passing math and reading into a new DataFrame

passing_math = school_data_complete_df[school_data_complete_df["math_score"] >=70]

passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >=70]

In [355]:
# Calculate the number of students passing math and reading

passing_math_count = passing_math["student_name"].count()
print(passing_math_count)

passing_reading_count = passing_reading["student_name"].count()
print(passing_reading_count)

28939
33158

In [356]:
# Calculate the percentage of students who passed math or reading

passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_percentage)

73.88052080673985
84.65151901965791

In [357]:
# Calculate the students who passed BOTH math and reading. 

passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94.0,94.0,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82.0,80.0,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95.0,87.0,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96.0,84.0,0,District,2917,1910635

In [358]:
# Calculate the number of students who passed BOTH reading and math

overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25105

In [359]:
# Calculate the overall passing percentage

overall_passing_percentage = overall_passing_math_reading_count / float(student_count) * 100
overall_passing_percentage

64.09241766658157

In [360]:
# Adding a list of values with keys to create a new DataFrame.

district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.930533,81.855796,73.880521,84.651519,64.092418

In [361]:
# Formatting

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

# DISTRICT SUMMARY

In [362]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.9,81.9,74,85,64

In [363]:
# Determine the school type. 

per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [364]:
# Add the per_school_types into a DataFrame for testing.

df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [365]:
# Calculate the total student count.

per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [366]:
# Calculate the total student budget

per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [367]:
# Calculate the per capita spending

per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [368]:
# Calculate the math scores.

student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math.head(10)

school_name
Huang High School    79.0
Huang High School    61.0
Huang High School    60.0
Huang High School    58.0
Huang High School    84.0
Huang High School    94.0
Huang High School    80.0
Huang High School    69.0
Huang High School    87.0
Huang High School    84.0
Name: math_score, dtype: float64

In [371]:
# Calculate the average test scores.

per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [372]:
# Calculate the passing scores by creating a filtered DataFrame. 

per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >=70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [374]:
# Calculate the number of students passing math and passing reading by school.

per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [375]:
# Calculate the percentage of passing math and reading scores per school.

per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [379]:
# Calculate the students who passed both math and reading.

per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [380]:
# Calculate the number of students who passed both math and reading.

per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [381]:
# Calculate the overall passing percentage.

per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [382]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [383]:
# Formatting

per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

In [384]:
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,66.911315,69.663609,65.076453
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

# High and Low Performing Schools

In [387]:
# Show Top 5 Schools based on overall passing %

top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [389]:
# Show Bottom 5 schools based on overall passing %

bottom_scools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

# Math and Reading Scores by Grade

In [390]:
# Create a grade level DataFrames.

ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [391]:
# Group each school Series by the school name for the average math score.

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [392]:
# Group each school Series by the school name for the average reading score.

ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [407]:
# Combine each Series for average math scores by school into single DataFrame.

math_scores_by_grade = pd.DataFrame({
               "9th math": ninth_grade_math_scores,
               "10th math": tenth_grade_math_scores,
               "11th math": eleventh_grade_math_scores,
               "12th math": twelfth_grade_math_scores})

# Format each grade column.

math_scores_by_grade["9th math"] = math_scores_by_grade["9th math"].map("{:.1f}".format)

math_scores_by_grade["10th math"] = math_scores_by_grade["10th math"].map("{:.1f}".format)

math_scores_by_grade["11th math"] = math_scores_by_grade["11th math"].map("{:.1f}".format)

math_scores_by_grade["12th math"] = math_scores_by_grade["12th math"].map("{:.1f}".format)


math_scores_by_grade

                      9th math 10th math 11th math 12th math
school_name
Bailey High School        77.1      77.0      77.5      76.5
Cabrera High School       83.1      83.2      82.8      83.3
Figueroa High School      76.4      76.5      76.9      77.2
Ford High School          77.4      77.7      76.9      76.2
Griffin High School       82.0      84.2      83.8      83.4
Hernandez High School     77.4      77.3      77.1      77.2
Holden High School        83.8      83.4      85.0      82.9
Huang High School         77.0      75.9      76.4      77.2
Johnson High School       77.2      76.7      77.5      76.9
Pena High School          83.6      83.4      84.3      84.1
Rodriguez High School     76.9      76.6      76.4      77.7
Shelton High School       83.4      82.9      83.4      83.8
Thomas High School         nan      83.1      83.5      83.5
Wilson High School        83.1      83.7      83.2      83.0
Wright High School        83.3      84.0      83.8      83.6

In [408]:
# Combine each Series for average reading scores by school into single DataFrame.

reading_scores_by_grade = pd.DataFrame({
              "9th reading": ninth_grade_reading_scores,
              "10th reading": tenth_grade_reading_scores,
              "11th reading": eleventh_grade_reading_scores,
              "12th reading": twelfth_grade_reading_scores})

# Format each grade column.
    
reading_scores_by_grade["9th reading"] = reading_scores_by_grade["9th reading"].map("{:,.1f}".format)

reading_scores_by_grade["10th reading"] = reading_scores_by_grade["10th reading"].map("{:,.1f}".format)

reading_scores_by_grade["11th reading"] = reading_scores_by_grade["11th reading"].map("{:,.1f}".format)

reading_scores_by_grade["12th reading"] = reading_scores_by_grade["12th reading"].map("{:,.1f}".format)

reading_scores_by_grade

                      9th reading 10th reading 11th reading 12th reading
school_name
Bailey High School           81.3         80.9         80.9         80.9
Cabrera High School          83.7         84.3         83.8         84.3
Figueroa High School         81.2         81.4         80.6         81.4
Ford High School             80.6         81.3         80.4         80.7
Griffin High School          83.4         83.7         84.3         84.0
Hernandez High School        80.9         80.7         81.4         80.9
Holden High School           83.7         83.3         83.8         84.7
Huang High School            81.3         81.5         81.4         80.3
Johnson High School          81.3         80.8         80.6         81.2
Pena High School             83.8         83.6         84.3         84.6
Rodriguez High School        81.0         80.6         80.9         80.4
Shelton High School          84.1         83.4         84.4         82.8
Thomas High School            nan         84.3         83.6         83.8
Wilson High School           83.9         84.0         83.8         84.3
Wright High School           83.8         83.8         84.2         84.1

In [410]:
# Merge scores by grade DataFrames

scores_by_grade_complete_df = pd.merge(reading_scores_by_grade, math_scores_by_grade, on=["school_name"])

scores_by_grade_complete_df.index.name = None

scores_by_grade_complete_df

,9th reading,10th reading,11th reading,12th reading,9th math,10th math,11th math,12th math
Bailey High School,81.3,80.9,80.9,80.9,77.1,77.0,77.5,76.5
Cabrera High School,83.7,84.3,83.8,84.3,83.1,83.2,82.8,83.3
Figueroa High School,81.2,81.4,80.6,81.4,76.4,76.5,76.9,77.2
Ford High School,80.6,81.3,80.4,80.7,77.4,77.7,76.9,76.2
Griffin High School,83.4,83.7,84.3,84.0,82.0,84.2,83.8,83.4
Hernandez High School,80.9,80.7,81.4,80.9,77.4,77.3,77.1,77.2
Holden High School,83.7,83.3,83.8,84.7,83.8,83.4,85.0,82.9
Huang High School,81.3,81.5,81.4,80.3,77.0,75.9,76.4,77.2
Johnson High School,81.3,80.8,80.6,81.2,77.2,76.7,77.5,76.9
Pena High School,83.8,83.6,84.3,84.6,83.6,83.4,84.3,84.1
Rodriguez High School,81.0,80.6,80.9,80.4,76.9,76.6,76.4,77.7
Shelton High School,84.1,83.4,84.4,82.8,83.4,82.9,83.4,83.8
Thomas High School,nan,84.3,83.6,83.8,nan,83.1,83.5,83.5
Wilson High School,83.9,84.0,83.8,84.3,83.1,83.7,83.2,83.0
Wright High School,83.8,83.8,84.2,84.1,83.3,84.0,83.8,83.6

# Scores by School Spending

In [411]:
# Get stats for spending per capita

per_school_capita.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [412]:
# Establish the spending bins and group names

spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [413]:
# Cut the per_school_capita into the spending ranges. 

pd.cut(per_school_capita, spending_bins)

Bailey High School       (585, 630]
Cabrera High School        (0, 585]
Figueroa High School     (630, 645]
Ford High School         (630, 645]
Griffin High School      (585, 630]
Hernandez High School    (645, 675]
Holden High School         (0, 585]
Huang High School        (645, 675]
Johnson High School      (645, 675]
Pena High School         (585, 630]
Rodriguez High School    (630, 645]
Shelton High School      (585, 630]
Thomas High School       (630, 645]
Wilson High School         (0, 585]
Wright High School         (0, 585]
dtype: category
Categories (4, interval[int64]): [(0, 585] < (585, 630] < (630, 645] < (645, 675]]

In [414]:
# group the spending bins

per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [415]:
# Categorize spending based on the bins.

per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$584
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-675
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$584
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-675
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-675
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-629
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-644
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-629
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,66.911315,69.663609,65.076453,$630-644
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$584
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$584

In [417]:
# Calculate averages for the desired columns.

spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

overall_passing_spending

Spending Ranges (Per Student)
<$584       90.369459
$585-629    81.418596
$630-644    56.389766
$645-675    53.526855
Name: % Overall Passing, dtype: float64

In [418]:
# Assemble a new DataFrame for Scores by School Funding

spending_summary_df = pd.DataFrame({
    "Average Math Score" : spending_math_scores, 
    "Average Reading Score" : spending_reading_scores, 
    "% Passing Math" : spending_passing_math, 
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending})

In [419]:
# Formatting 

spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:,.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,90
$585-629,81.9,83.2,87,93,81
$630-644,78.5,81.6,67,77,56
$645-675,77.0,81.0,66,81,54

# Scores by Size

In [420]:
# Get Stats for school counts

per_school_counts.describe()

count      15.000000
mean     2611.333333
std      1420.915282
min       427.000000
25%      1698.000000
50%      2283.000000
75%      3474.000000
max      4976.000000
Name: school_name, dtype: float64

In [421]:
# Establish the bins. 

size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [422]:
# Categorize spending based on the bins. 

per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$584,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629,Medium (1000-2000)

In [427]:
# Calculate averages for the desired columns.

size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [428]:
# Assemble into a DataFrame. 

size_summary_df = pd.DataFrame({
    "Average Math Score" : size_math_scores, 
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing})

In [429]:
# Formatting

size_summary_df["Average Math SCore"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Average Math SCore
School Size,,,,,,
Small (<1000),83.821598,83.9,94,96,90,83.8
Medium (1000-2000),83.361201,83.9,88,91,85,83.4
Large (2000-5000),77.746417,81.3,70,83,58,77.7

# Scores by School Type

In [430]:
# Calculate averages for the SCHOOL TYPES column 

type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [431]:
# Create a type summary DataFrame. 

type_summary_df = pd.DataFrame({
    "Average Math Scores" : type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing    
})

In [432]:
# Formatting

type_summary_df["Average Math Scores"] = type_summary_df["Average Math Scores"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df

,Average Math Scores,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,90,93,87
District,77.0,81.0,67,81,54